.navbar-container{
    height: 8vh;
    // position: sticky;
    width: 100vw;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 0px black;
    .navbar-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60vw;
        min-width: 300px;
        svg{
            color: whitesmoke;
            &:hover{
                color: rgb(211, 211, 211);
                cursor: pointer;
            }
        }
        .button-flex{
            width: 110px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .hamburger-menu{
            display: none;
        }
    }
}