

.start-container{
    width: 50vw;
    min-width: 300px;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    // background-color: gray;
    .info-button{
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $background-accent-dark;
        // border: 1px solid black;
        // box-shadow: 0px 0px 3px 0px black;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            color: $font-titles-dark;
        }
        &:hover{
            cursor: pointer;
            
        }
    }
    .start-title{
        width: 200px;
    }
    .short-explanation{
        width: 60%;
        text-align: center;
    }
    .start-button{
        text-decoration: none;
        width: 170px;
        height: 50px;
        border-radius: 7px;
        border: none;
        color: $font-titles-dark;
        background-color: $correct;
        font-weight: bold;
        font-size: 20px;
        &:hover{
            background-color: $correct-hover;
        }
    }
}