

//dark mode colors

//background
$background-color-dark: rgb(27, 27, 27);
$background-accent-dark: rgb(46, 46, 46);

//font colors
$font-main-dark: rgb(214, 255, 252);
$font-titles-dark: whitesmoke;


//light mode colors

//background
$background-color-light: rgb(88, 194, 255);
$background-accent-light: rgb(187, 230, 255);

//font colors
$font-main-light: rgb(53, 61, 68);
$font-titles-light: rgb(39, 39, 39);


//correct and false colors
$correct: rgb(20, 194, 20);
$correct-hover: rgb(56, 161, 56);

$false: rgb(228, 62, 62);
$false-hover: rgb(185, 37, 37);